<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

It was decided to do this laboratory locally using by setting up a local Postgres SQL database. To do so, Postgres has been installed and "mydb" database has been created. 

On "mydb" database, the following script was executed to load the content of the SpaceX dataset into a table named spacex:

``` mysql
DROP TABLE IF EXISTS spacex;
CREATE TABLE spacex
(
	Date DATE NULL,
	Time TIME NULL,
	BoosterVersion VARCHAR(50) NULL,
	LaunchSite VARCHAR(50) NULL,
	Payload VARCHAR(100) NULL,
	PayloadMassKG INT NULL,
	Orbit VARCHAR(50) NULL,
	Customer VARCHAR(100) NULL,
	MissionOutcome VARCHAR(50) NULL,
	LandingOutcome VARCHAR(100) NULL
);

COPY spacex
FROM '/Users/user/Downloads/SpaceX.csv'
DELIMITER ','
CSV HEADER;
```

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [6]:
import pandas as pd
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

engine = create_engine('postgresql://user:password@localhost/mydb')

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [29]:
query1 = '''
    SELECT DISTINCT launchsite 
    FROM spacex
'''

display(pd.read_sql_query(query1, engine))

     launchsite
0  CCAFS SLC-40
1    KSC LC-39A
2   CCAFS LC-40
3   VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [15]:
query2 = '''
    SELECT *
    FROM spacex
    WHERE launchsite LIKE 'CCA%%'
    LIMIT 5
'''

display(pd.read_sql_query(query2, engine))

,date,time,boosterversion,launchsite,payload,payloadmasskg,orbit,customer,missionoutcome,landingoutcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
query3 = '''
    SELECT SUM(payloadmasskg) AS total
    FROM spacex
    WHERE customer = 'NASA (CRS)'
'''

display(pd.read_sql_query(query3, engine))

   total
0  45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [17]:
query4 = '''
    SELECT AVG(payloadmasskg) AS mean
    FROM spacex
    WHERE boosterversion = 'F9 v1.1'
'''

display(pd.read_sql_query(query4, engine))

     mean
0  2928.4

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [18]:
query5 = '''
    SELECT MIN(date) AS first_success
    FROM spacex
    WHERE landingoutcome = 'Success (ground pad)'
'''

display(pd.read_sql_query(query5, engine))

  first_success
0    2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
query6 = '''
    SELECT boosterversion
    FROM spacex
    WHERE 1 = 1
    AND payloadmasskg > 4000 
    AND payloadmasskg < 6000
    AND landingoutcome = 'Success (drone ship)'    
'''

display(pd.read_sql_query(query6, engine))

   boosterversion
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [22]:
query7 = '''
    SELECT 
    count(*) AS total,
    sum(case when missionoutcome LIKE 'Success%%' then 1 else 0 end) AS successes,
    sum(case when missionoutcome LIKE 'Failure%%' then 1 else 0 end) AS failures
    FROM spacex
'''

display(pd.read_sql_query(query7, engine))

   total  successes  failures
0    101        100         1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
query8 = '''
    SELECT boosterversion
    FROM spacex
    WHERE payloadmasskg = (
        SELECT MAX(payloadmasskg)
        FROM spacex
    )     
'''

display(pd.read_sql_query(query8, engine))

    boosterversion
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [27]:
query9 = '''
    SELECT landingoutcome, boosterversion, launchsite
    FROM spacex
    WHERE 1 = 1
    AND LandingOutcome = 'Failure (drone ship)'
    AND Date BETWEEN '2015-01-01' AND '2015-12-31'
'''

display(pd.read_sql_query(query9, engine))

         landingoutcome boosterversion   launchsite
0  Failure (drone ship)  F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)  F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [30]:
query10 = '''
    SELECT 
    landingoutcome, 
    COUNT(landingoutcome) as count
    FROM spacex
    WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY landingoutcome
    ORDER BY count DESC
'''

display(pd.read_sql_query(query10, engine))

           landingoutcome  count
0              No attempt     10
1    Failure (drone ship)      5
2    Success (drone ship)      5
3    Success (ground pad)      3
4      Controlled (ocean)      3
5    Uncontrolled (ocean)      2
6     Failure (parachute)      2
7  Precluded (drone ship)      1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>